In [17]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
def loadStatic():
    '''a function to load static higher education provider data'''
    
    df = pd.read_csv("Provider.csv").fillna(
        value={'affiliation': 'NUHEP', 'affil_status': 'current'})
    
    return df

In [3]:
def loadEftsl():
    '''a function to load equivalent full-time student load (eftsl)'''
    
    df = pd.read_csv('19_381_Onshore_EFTSL.csv')
    
    return df

In [4]:
def loadPerformance():
    
    '''a function to load, clean and join student success rate and attrition rate data'''
    
    #load success rate data
    success_all = pd.read_csv("19_381_Onshore_success_rate_overall.csv").rename(
        columns = {"success_rate": "success_all"}).drop(['provider_name'], axis=1)
    
    success_dom = pd.read_csv("19_381_Onshore_success_domestic.csv").rename(
        columns = {"success_rate": "success_dom"})[['code_year', 'success_dom']]
    
    success_int = pd.read_csv("19_381_Onshore_success_international.csv").rename(
        columns = {"success_rate": "success_int"})[['code_year', 'success_int']]
    
    # load attrition rate data
    attrition_all = pd.read_csv("19_381_Onshore_attrition_rate_overall.csv").rename(
        columns = {'attrition_rate': 'attrition_all'})[['code_year', 'attrition_all']]
    
    attrition_dom = pd.read_csv("19_381_Onshore_attrition_domestic.csv").rename(
        columns = {'attrition_rate': 'attrition_dom'})[['code_year', 'attrition_dom']]
    
    attrition_int = pd.read_csv("19_381_Onshore_attrition_international.csv").rename(
        columns = {'attrition_rate': 'attrition_int'})[['code_year', 'attrition_int']]
    
    # merge data frames
    df = success_all.merge(success_dom, on='code_year', how = 'outer').merge(
        success_int, on='code_year', how = 'outer').merge(
        attrition_all, on='code_year', how = 'outer').merge(
        attrition_dom, on='code_year', how = 'outer').merge(
        attrition_int, on='code_year', how = 'outer')
    
    return df[df['ref_year'] > 2012]

In [5]:
def loadStaff(eftsl):

    '''a function to load staff data and create important staff-related features'''
    
    # load .csv
    staff = pd.read_csv('19_381_Academic_staff.csv').rename(
        columns = {'tab1_academic_FTE': 'all_fte', 
                   'tab2_academic_FTE': 'salaried_fte', 
                   'tab3_senior_FTE': 'senior_fte', 
                   'tab3_senior_headcount_mod': 'senior_headcount'})
    
    # calculate pure staffing features
    staff['sessional_fte'] = staff['all_fte'] - staff['salaried_fte']
    staff['sessional_prop'] = staff['sessional_fte'] / staff['all_fte']
    staff['senior_prop'] = staff['senior_fte'] / staff['all_fte']
    
    # join with eftsl data to enable calculation of student:staff ratio
    eftsl_total = eftsl[['code_year', 'EFTSL']].groupby(['code_year']).sum().reset_index()
    staff = staff.merge(eftsl_total, on='code_year').rename(columns={'EFTSL': 'eftsl'})
    
    # calculate student:staff ratios
    staff['ssr_all'] = staff['eftsl'] / staff['all_fte']
    staff['ssr_salaried'] = staff['eftsl'] / staff['salaried_fte']
    
    # select staffing features
    df = staff[['code_year', 
                'all_fte', 
                'salaried_fte', 
                'senior_fte', 
                'senior_headcount', 
                'sessional_fte', 
                'sessional_prop', 
                'senior_prop', 
                'ssr_all']]

    return df

In [6]:
def buildPostgrad(eftsl):
    
    ''' a function to extract postgraduate student proportions from eftsl data'''
    
    # aggregate eftsl at course level by provider by year
    df = eftsl.drop(['provider_code', 'ref_year'], axis=1).groupby(['Course_level','code_year']).sum().reset_index()
    
    # pivot in order to make columnwise calculation
    df = df.pivot(index='code_year', columns='Course_level', values='EFTSL').fillna(value=0)
    
    # flatten index after pivoting
    df.columns = [''.join(col).strip() for col in df.columns.values]
    df.reset_index(inplace = True)
    
    # calculate postgraduate eftsl proportion and drop unnecessary columns
    df['postgrad_prop'] = df['Postgrad by course'] / (df['Postgrad by course'] + df['Undergrad'])
    df = df.drop(['Postgrad by course', 'Undergrad'], axis=1).fillna(value=0)
    
    return df

In [7]:
def buildInternational(eftsl):
    
    ''' a function to extract international student proportions from eftsl data'''
    
    # aggregate eftsl at citizenship type (domestic or international) by provider by year
    df = eftsl.drop(['provider_code', 'ref_year'], axis=1).groupby(['citizenship','code_year']).sum().reset_index()
    
    # pivot in order to make columnwise calculation
    df = df.pivot(index='code_year', columns='citizenship', values='EFTSL').fillna(value=0)
    
    # flatten index after pivoting
    df.columns = [''.join(col).strip() for col in df.columns.values]
    df.reset_index(inplace = True)
    
    # calculate international eftsl proportion and drop unnecessary columns
    df['int_prop'] = df['International'] / (df['International'] + df['Domestic'])
    df = df.drop(['International', 'Domestic'], axis=1).fillna(value=0)
    
    return df

In [8]:
def buildBfoe(eftsl):
    
    '''a function to generate eftsl and bfoe-related features'''

    # aggregate eftsl at BFOE type by provider by year
    df = eftsl.drop(['provider_code', 'ref_year'], axis=1).groupby(['primary_BFOE','code_year']).sum().reset_index()

    # pivot wider and replace NAs with zeros to ensure each provider in each year has a value for each BFOE
    df = df.pivot(index='code_year', columns='primary_BFOE', values='EFTSL').fillna(value=0)

    # rename BFOE categories to be shorter
    df = df.rename(columns = {'01 Natural and Physical Sciences': 'nat_phys_sci',
                             '02 Information Technology': 'info_tech',
                             '03 Engineering and Related Technologies': 'engineering',
                             '04 Architecture and Building': 'arch_build',
                             '05 Agriculture, Environmental and Related Studies': 'agri_env',
                             '06 Health': 'health',
                             '07 Education': 'education',
                             '08 Management and Commerce': 'mge_com',
                             '09 Society and Culture': 'soc_cult',
                             '10 Creative Arts': 'creat_art',
                             '11 Food, Hospitality and Personal Services': 'food_hosp',
                             '12 Mixed Field Programmes': 'mixed',
                             '13 Non-award courses': 'non_award'})

    vars = ['nat_phys_sci', 
            'info_tech', 
            'engineering', 
            'arch_build', 
            'agri_env', 
            'health', 
            'education', 
            'mge_com', 
            'soc_cult', 
            'creat_art', 
            'food_hosp',
            'mixed',
            'non_award']

    # flatten index after pivoting
    df.columns = [''.join(col).strip() for col in df.columns.values]
    df.reset_index(inplace = True)

    # return to long format to implement column-wise calculations
    df = pd.melt(df, id_vars=['code_year'], value_vars=vars, var_name='bfoe', value_name='eftsl')

    # find max bfoe eftsl for each provider
    df['bfoe_max'] = df.groupby(['code_year'])['eftsl'].transform(max)
    df['bfoe_max'].replace(0, np.nan, inplace=True)

    # caclulate total eftsl for ech provider
    df['eftsl_sum'] = df.groupby(['code_year'])['eftsl'].transform(sum)

    # calculate eftsl proportion for each bfoe for each provider for each year
    df['eftsl_prop'] = df['eftsl'] / df['eftsl_sum']
    df['eftsl_prop'].replace(0, np.nan, inplace=True)

    # calculate values to be summed for entropy calculation
    df['pre_entropy'] = -1*df['eftsl_prop']*np.log2(df['eftsl_prop'])

    #calculate entropy
    df['bfoe_entropy'] = df.groupby(['code_year'])['pre_entropy'].transform(sum)

    # calculate values to be summed for gini impurity calculation
    df['pre_gini'] = df['eftsl_prop']*(1-df['eftsl_prop'])

    # calculate gini impurity
    df['bfoe_gini_impurity'] = df.groupby(['code_year'])['pre_gini'].transform(sum)

    #filter to only the max bfoe for any given year
    df = df[df['bfoe_max'] == df['eftsl']] 
    df = df[df['bfoe_max'] != 0]

    # drop unnecessary columns and rename as required
    df = df.drop(['eftsl', 'bfoe_max', 'pre_entropy', 'pre_gini'], axis=1).rename(
        columns={'bfoe': 'primary_bfoe', 'eftsl_prop': 'primary_bfoe_prop'})

    return df

In [9]:
def loadAverages():
    
    '''a function to load subsector averages published by TEQSA'''
    
    TEQSA_avg = pd.read_csv('TEQSA_averages.csv')
    
    return TEQSA_avg

In [10]:
def loadDecisions():
    decisions = pd.read_csv("https://data.gov.au/data/dataset/0c4f6591-2aea-4797-a127-ae8f8a0be0e2/resource/a61abca4-a4b7-4f17-a975-0bba20c2c73f/download/outcomes_26102020.csv")
    decisions = decisions.drop('Date',axis=1)
    providers = pd.read_csv('https://data.gov.au/data/dataset/0c4f6591-2aea-4797-a127-ae8f8a0be0e2/resource/07370e3f-780b-4a70-8c87-b6796d5ab237/download/providers_21102020.csv')
    providers = providers[['ProviderID', 'ProviderName', 'Category']]

    decisions['Description'] = decisions.Title.str.rsplit(n=3).str[0]
    decisions['Year'] = decisions.Title.str.rsplit(n=1).str[-1]

    decisions = decisions.drop('Title',axis=1)

    decisions['dec_condition'] = decisions['Text'].str.contains('ondition')|decisions['Description'].str.contains('ondition')
    decisions['dec_staff_ratio'] = decisions['Text'].str.contains('staff ratio|SSR')
    decisions['dec_sessional'] = decisions['Text'].str.contains('essional|asual')
    decisions['dec_attrition'] = decisions['Text'].str.contains('ttrition')
    decisions['dec_progress'] = decisions['Text'].str.contains('uccess|rogress')
    decisions['dec_rejected'] = decisions['Description'].str.contains('reject|Reject|not|Not|Cancel r|cancel r|Cancel a|cancel a')|decisions['CourseID'].str.contains('reject|Reject')
    decisions['extension'] = decisions['Description'].str.contains('Exten|exten')
    decisions['dec_negative'] = decisions['Text'].str.contains('ondition')|decisions['Description'].str.contains('ondition')|decisions['Description'].str.contains('reject|Reject|not|Not|Cancel r|cancel r|Cancel a|cancel a')|decisions['CourseID'].str.contains('reject|Reject')

    decisions = decisions[decisions['extension'] == False]

    decisions = decisions.drop('Text',axis=1)
    decisions['ProviderID'] = decisions['ProviderID'].str.strip()

    decisions = providers.merge(decisions, on = 'ProviderID', how = 'outer')

    decisions = decisions[decisions['Type'] == 'Decision']
    decisions = decisions.drop('Type',axis=1)
    decisions['DecisionType'] = decisions['DecisionType'].str.strip()

    decisions = decisions[decisions.DecisionType.isin(['Re-registration', 'Registration', 'Re-accreditation', 'Accreditation'])]

    decisions = decisions[[ 'ProviderID',
                            'Year', 
                            'dec_negative',
                            'dec_rejected',
                            'dec_condition',
                            'dec_staff_ratio',
                            'dec_sessional',
                            'dec_attrition',
                            'dec_progress']]
    decisions.rename(columns={"ProviderID" : "prv", "Year" : "ref_year"}, inplace=True)

    return decisions

In [11]:
def joinData():
    '''a function to join all higher ed data frames''' 

    # load datasets
    eftsl = loadEftsl()
    provider = loadStatic()
    performance = loadPerformance()
    staff = loadStaff(eftsl)
    teqsa_avg = loadAverages()
    decisions = loadDecisions()[['prv', 'ref_year', 'dec_negative']].dropna().drop_duplicates()
    decisions.ref_year = decisions.ref_year.astype(int)
    
    # transform eftsl data
    bfoe = buildBfoe(eftsl)
    postgrad = buildPostgrad(eftsl)
    international = buildInternational(eftsl)

    # join datasets
    df = provider.merge(performance, on='provider_code', how = 'outer').merge(
        staff, on='code_year', how = 'outer').merge(
        bfoe, on='code_year', how = 'outer').merge(
        postgrad, on='code_year', how = 'outer').merge(
        international, on='code_year', how = 'outer').merge(
        teqsa_avg, on=['TEQSA_type', 'ref_year'], how = 'outer').merge(
        decisions, on=['prv', 'ref_year'], how = 'left')
    # remove providers without a name
    df = df[df.provider_name.notnull()]

    # remove ref_year before 2012
    df = df[df['ref_year'] > 2011]

    df.ref_year = df.ref_year.astype(int)

    # remove providers that no longer existed in the last year of the data collection (2017)
    still_exists = list(df[df['ref_year'] == 2017]['prv'])
    df = df[df.prv.isin(still_exists)]

    # replace unlikely values with null
    df['ssr_all'] = np.where((df.ssr_all < 0.00001), np.NaN ,df.ssr_all)
    df['sessional_prop'] = np.where((df.sessional_prop < 0.00001), np.NaN ,df.sessional_prop)
    df['sessional_prop'] = np.where((df.sessional_prop > 0.99999), np.NaN ,df.sessional_prop)


    # remove redundant provider code
    df = df.drop(['provider_code'], axis=1)
    
    # select and order columns
    

    return df.reset_index()

In [12]:
def impute(df):
    '''a function to impute missing values using MICE'''
    
    # select numeric features
    df2 = df[['primary_bfoe_prop',
                'bfoe_entropy',
                'bfoe_gini_impurity',
                'postgrad_prop',
                'int_prop',
                'sessional_prop_type_avg',
                'sessional_prop',
                'senior_prop',
                'ssr_all_type_avg',
                'ssr_salaried_type_avg',
                'ssr_all',
                'success_dom',
                'success_int',
                'success_all',
                'attrition_dom',
                'attrition_int',
                'attrition_all']]

    # specify minimum and maximum values for imputation
    min = [0.01, 0, 0, 0, 0, 0.01, 0.01, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1]
    max = [1, 3.05, 1, 1, 1, 1, 1, 1, 100, 100, 100, 100, 100, 100, 100, 100, 100]
    
    # instantiate imputer
    mice_imputer = IterativeImputer(max_iter=10000, random_state=1, min_value=min, max_value=max)
    
    # fit imputation and return as a dataframe
    df_imp = pd.DataFrame(mice_imputer.fit_transform(df2).round(decimals=6))
    
    # rename imputed columns
    df_imp.columns = ['primary_bfoe_prop',
                'bfoe_entropy',
                'bfoe_gini_impurity',
                'postgrad_prop',
                'int_prop',
                'sessional_prop_type_avg',
                'sessional_prop',
                'senior_prop',
                'ssr_all_type_avg',
                'ssr_salaried_type_avg',
                'ssr_all',
                'success_dom',
                'success_int',
                'success_all',
                'attrition_dom',
                'attrition_int',
                'attrition_all']
    
    # specify columns to be overwritten with imputed data, noting that cells without NAs will be untouched
    columns_to_overwrite = ['primary_bfoe_prop',
                'bfoe_entropy',
                'bfoe_gini_impurity',
                'postgrad_prop',
                'int_prop',
                'sessional_prop_type_avg',
                'sessional_prop',
                'senior_prop',
                'ssr_all_type_avg',
                'ssr_salaried_type_avg',
                'ssr_all',
                'success_dom',
                'success_int',
                'success_all',
                'attrition_dom',
                'attrition_int',
                'attrition_all']
    
    # drop columns to be overwritten from original dataset and replace with imputed data
    df3 = df.drop(columns_to_overwrite, axis=1)
    df3[columns_to_overwrite] = df_imp[columns_to_overwrite]

    return df3[df3['ssr_all'] >0]

In [13]:
def staffAdjust(df_imp, sessional_multiplier = 1, ssr_multiplier = 1):
    
    df_imp = df_imp
    
    '''a function to adjust imputed staffing values based on sub-sector averages published by TEQSA'''

    compare = df_imp[['ref_year','TEQSA_type',
                    'sessional_prop_type_avg',
                    'sessional_prop',
                    'ssr_all_type_avg',
                    'ssr_salaried_type_avg',
                    'ssr_all']]

    agg = compare.groupby(['ref_year','TEQSA_type']).mean().reset_index()
    agg['sessional_diff'] = agg['sessional_prop_type_avg'] - agg['sessional_prop']
    agg['ssr_all_diff'] = agg['ssr_all_type_avg'] - agg['ssr_all']
    diff = agg.drop(['sessional_prop_type_avg', 'sessional_prop', 'ssr_all_type_avg', 'ssr_all', 'ssr_salaried_type_avg'], axis=1)

    df_diff = df_imp.merge(diff, on=['ref_year', 'TEQSA_type'], how = 'left')

    df_diff.loc[df_diff.TEQSA_type!='university', 'sessional_prop'] = sessional_multiplier * (df_diff.loc[df_diff.TEQSA_type!='university', 'sessional_prop'] + df_diff.loc[df_diff.TEQSA_type!='university', 'sessional_diff'])
    df_diff.loc[df_diff.TEQSA_type!='university', 'ssr_all'] = ssr_multiplier * (df_diff.loc[df_diff.TEQSA_type!='university', 'ssr_all'] + df_diff.loc[df_diff.TEQSA_type!='university', 'ssr_all_diff'])

    df_diff = df_diff.drop(['sessional_diff', 'ssr_all_diff', 'sessional_prop_type_avg', 'ssr_all_type_avg', 'ssr_salaried_type_avg'], axis=1)

    df_diff['ssr_salaried'] = df_diff['ssr_all'] * (1 / (1 - df_diff['sessional_prop']))
    
    df = df_diff[['code_year',
            'prv',
            'provider_name',
            'ref_year',
            'type',
            'TEQSA_type',
            'ownership',
            'profit',
            'affiliation',
            'affil_status',
            'eftsl_sum',
            'primary_bfoe',
            'primary_bfoe_prop',
            'bfoe_entropy',
            'bfoe_gini_impurity',
            'postgrad_prop',
            'int_prop',
            'sessional_prop',
            'senior_prop',
            'ssr_all',
            'ssr_salaried',
            'success_dom',
            'success_int',
            'success_all',
            'attrition_dom',
            'attrition_int',
            'attrition_all',
            'dec_negative']]

    return df.round(decimals=3)

In [14]:
def main():
    df_raw = joinData()
    df_imp = impute(df_raw)
    df = staffAdjust(df_imp)
    df.to_csv('higher_ed_data.csv', index = False)
    return df

In [15]:
df = main()

df.head()

,code_year,prv,provider_name,ref_year,type,TEQSA_type,ownership,profit,affiliation,affil_status,...,senior_prop,ssr_all,ssr_salaried,success_dom,success_int,success_all,attrition_dom,attrition_int,attrition_all,dec_negative
0,3006-2013,PRV12008,Australian Catholic University Limited,2013,university,university,public,not_for_profit,non_aligned,current,...,0.146,19.063,30.701,89.20,88.16,89.10,14.14,13.36,14.06,NaN
1,3033-2013,PRV12002,Australian National University,2013,university,university,public,not_for_profit,Go8,current,...,0.318,7.107,7.640,92.86,93.90,93.16,10.17,3.51,8.72,False
2,3003-2013,PRV12072,Bond University Limited,2013,university,university,private,not_for_profit,non_aligned,current,...,0.367,13.758,18.400,76.90,88.60,80.18,11.00,9.04,10.44,NaN
3,2200-2013,PRV12073,Central Queensland University,2013,university,university,public,not_for_profit,RUN,current,...,0.184,21.365,25.980,83.37,82.93,83.24,26.48,16.59,23.32,NaN
4,3001-2013,PRV12069,Charles Darwin University,2013,university,university,public,not_for_profit,IRU,current,...,0.169,17.570,18.899,82.15,81.70,82.08,26.08,9.88,24.53,NaN

In [16]:
rank_train = df.dropna()

rank_train[rank_train['dec_negative']]

,code_year,prv,provider_name,ref_year,type,TEQSA_type,ownership,profit,affiliation,affil_status,...,senior_prop,ssr_all,ssr_salaried,success_dom,success_int,success_all,attrition_dom,attrition_int,attrition_all,dec_negative
247,4343-2014,PRV12050,The Australian Institute of Music Limited,2014,other,not_for_profit,private,not_for_profit,NUHEP,current,...,0.065,26.729,47.599,80.980,85.150,81.18,24.750,26.320,24.830,True
249,4346-2014,PRV12064,Excelsia College,2014,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.171,17.911,21.587,91.410,97.780,91.51,22.120,0.000,21.930,True
258,4388-2014,PRV12026,Australian Academy of Music and Performing Arts,2014,other,not_for_profit,private,not_for_profit,NUHEP,current,...,0.107,22.966,36.162,82.930,87.730,83.40,17.860,0.000,16.670,True
263,4412-2014,PRV12034,Morling College Ltd,2014,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.106,16.825,19.274,92.530,87.720,92.02,39.130,25.000,38.660,True
266,4428-2014,PRV12035,Nan Tien Institute Limited,2014,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.185,14.771,16.176,94.170,89.660,93.18,27.270,0.000,25.000,True
275,4335-2015,PRV12010,Australian College of Theology Limited,2015,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.098,20.111,28.303,89.930,88.790,89.87,22.780,19.510,22.670,True
281,4346-2015,PRV12064,Excelsia College,2015,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.116,21.767,33.311,92.960,100.000,93.03,18.310,33.330,18.570,True
293,4412-2015,PRV12034,Morling College Ltd,2015,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.068,18.609,23.222,96.530,86.760,95.77,39.390,50.000,39.600,True
298,4333-2016,PRV12074,Christian Heritage College,2016,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.000,29.719,54.252,84.630,87.360,84.85,24.520,85.710,28.400,True
300,4337-2016,PRV12149,Eastern College Australia Incorporated,2016,other,not_for_profit,private,not_for_profit,NUHEP,current,...,0.070,19.424,23.177,86.030,94.440,87.06,25.220,10.000,24.000,True
304,4346-2016,PRV12064,Excelsia College,2016,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.064,20.361,23.149,91.880,96.420,91.88,24.100,17.470,24.100,True
320,4333-2017,PRV12074,Christian Heritage College,2017,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.051,28.791,47.036,88.750,73.100,86.94,23.920,60.000,27.680,True
327,4341-2017,PRV12127,Harvest Bible College Ltd,2017,faith_based,not_for_profit,private,not_for_profit,NUHEP,current,...,0.102,20.336,30.781,78.350,90.460,80.08,22.500,14.290,22.160,True
329,4343-2017,PRV12050,The Australian Institute of Music Limited,2017,other,not_for_profit,private,not_for_profit,NUHEP,current,...,0.083,24.031,35.369,82.060,84.350,82.26,25.940,12.960,25.000,True
338,4388-2017,PRV12026,Australian Academy of Music and Performing Arts,2017,other,not_for_profit,private,not_for_profit,NUHEP,current,...,0.093,22.236,36.264,86.380,97.730,86.90,11.110,15.762,11.110,True
346,7041-2017,PRV12177,Sydney Institute of Health Sciences Pty. Limited,2017,other,not_for_profit,private,not_for_profit,NUHEP,current,...,0.129,22.460,27.854,90.440,74.580,89.53,17.140,0.000,16.670,True
372,4415-2013,PRV12059,Top Education Group Limited,2013,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.207,14.896,35.741,70.290,70.940,70.92,9.090,28.380,27.900,True
392,4367-2014,PRV12138,Melbourne Institute of Technology Pty Ltd,2014,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.054,25.334,66.158,64.050,76.000,72.71,31.580,22.450,24.850,True
397,4381-2014,PRV12025,"International College of Management, Sydney Pt...",2014,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,29.730,55.760,79.280,82.830,80.10,24.380,13.070,20.410,True
398,4384-2014,PRV12094,Kaplan Business School Pty Limited,2014,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,27.150,79.965,58.270,63.580,63.14,33.670,29.840,30.320,True
407,4411-2014,PRV12146,Acknowledge Education Pty Ltd,2014,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,32.540,64.972,77.780,63.490,63.84,20.000,40.910,39.780,True
410,4421-2014,PRV12100,Le Cordon Bleu Australia Pty Limited,2014,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.006,21.767,50.744,82.690,86.620,86.16,18.180,8.720,9.940,True
421,4348-2015,PRV12137,Melbourne Institute of Business and Technology...,2015,pathway,for_profit,private,for_profit,NUHEP,current,...,0.016,34.492,90.858,67.780,61.140,63.76,27.130,29.450,28.570,True
425,4361-2015,PRV12070,Australian College of Natural Medicine Pty Ltd,2015,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,25.353,44.244,81.280,84.110,81.34,31.590,25.000,31.540,True
434,4381-2015,PRV12025,"International College of Management, Sydney Pt...",2015,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.013,23.267,58.705,84.030,88.560,85.82,22.370,55.170,24.330,True
446,4421-2015,PRV12100,Le Cordon Bleu Australia Pty Limited,2015,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.108,16.075,36.494,83.460,87.620,87.28,15.790,7.650,8.470,True
470,4378-2016,PRV12029,JMC Pty. Limited,2016,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,25.657,40.340,84.050,99.700,84.74,27.480,20.236,27.480,True
474,4387-2016,PRV12039,Raffles College Pty Ltd,2016,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.060,20.809,28.713,81.810,87.005,81.81,21.510,81.330,58.440,True
484,7001-2016,PRV12187,Australian College of the Arts Pty Ltd,2016,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,26.810,40.262,78.650,98.510,79.04,30.170,0.000,29.670,True
487,7124-2016,PRV12005,Academy of Information Technology Pty Ltd,2016,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,25.981,47.182,82.450,83.100,82.80,26.670,29.520,28.330,True
494,4352-2017,PRV12066,ACPE Limited,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,33.790,82.219,77.710,94.440,78.06,30.660,60.000,31.060,True
500,4367-2017,PRV12138,Melbourne Institute of Technology Pty Ltd,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.156,15.674,31.088,78.130,86.270,85.58,23.650,20.950,21.270,True
504,4378-2017,PRV12029,JMC Pty. Limited,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,24.968,44.113,84.820,99.700,85.61,30.100,26.859,30.100,True
505,4381-2017,PRV12025,"International College of Management, Sydney Pt...",2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.043,23.215,42.456,85.280,85.330,85.31,20.170,20.330,20.260,True
508,4386-2017,PRV12031,Macleay College Pty Limited,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.012,27.529,44.168,86.520,87.580,86.57,27.240,14.290,26.970,True
518,4420-2017,PRV12051,Kent Institute Australia Pty Ltd,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,15.225,50.513,62.424,79.180,79.18,60.760,45.710,45.710,True
520,4425-2017,PRV12090,Australian Institute of Business Pty Ltd,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.101,19.218,26.460,81.930,88.660,83.33,24.140,20.000,24.090,True
523,4455-2017,PRV12041,S P Jain School of Global Management Pty Limited,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,17.004,29.831,100.000,96.150,96.18,20.231,14.693,16.993,True
525,7001-2017,PRV12187,Australian College of the Arts Pty Ltd,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.010,26.605,40.882,78.860,90.140,79.04,33.830,0.000,33.460,True
527,7035-2017,PRV12200,Photography Holdings Pty Ltd,2017,for_profit,for_profit,private,for_profit,NUHEP,current,...,0.000,20.361,28.674,90.140,100.000,90.91,32.730,0.000,30.000,True
540,4363-2014,PRV12142,Melbourne Polytechnic,2014,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.104,16.854,27.492,86.930,76.910,82.97,31.140,32.980,31.810,True
542,4383-2014,PRV12129,Holmesglen Institute of TAFE,2014,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.045,18.293,31.609,87.560,74.330,81.31,35.930,39.580,37.590,True
546,4450-2014,PRV13003,TAFE Queensland,2014,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.237,13.818,22.349,79.270,83.720,79.70,10.870,2.220,9.810,True
563,4394-2016,PRV12153,William Angliss Institute of TAFE,2016,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.143,10.778,15.977,85.040,84.380,84.59,29.250,26.490,27.490,True
566,4468-2016,PRV14272,South Metropolitan TAFE,2016,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.115,16.572,26.061,80.490,73.970,75.78,26.996,24.992,26.974,True
570,8071-2016,PRV14273,North Metropolitan TAFE,2016,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.280,10.900,13.373,88.490,91.010,88.87,8.893,11.905,12.299,True
571,4363-2017,PRV12142,Melbourne Polytechnic,2017,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.150,12.238,16.421,91.030,84.580,87.52,24.660,21.840,23.430,True
580,7075-2017,PRV12049,Technical and Further Education Commission,2017,TAFE,TAFE,public,not_for_profit,NUHEP,current,...,0.175,15.069,20.904,85.200,77.650,82.81,24.450,39.510,28.810,True